.boton{
    height: 10%;
    //position: absolute;
    //bottom: 0%;
    width: 100%;
    text-align: center;
}

.buscado{
    text-align: center;
}
.mat-form-field{
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    padding-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.check{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding-top: 20px;
    color: #104FC4;
}
img{
    border: 2px solid black;
}
.texto{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}