 <!--<div *ngFor="let usr of users">
    <h1>Mi perfil</h1>
    <img src= "{{ usr.profile_photo_path }}">-->
    <!--{ user.profile_photo_path }-->
    <!--<h2>{{ usr.name }}</h2>
</div>
<div *ngFor="let usr of users">
    <h2>Información</h2>
    <ul>
            <p>Nombre: {{ usr.name }}</p>

            <p>Email: {{ usr.email }}</p>
            
            <p>Fecha creación: {{ usr.created_at }}</p>

            <p>Fecha verificación email: {{ usr.email_verified_at }}</p>

            <p>Fecha última actualización: {{ usr.updated_at }}</p>
    </ul>
</div>-->
<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.name }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>