<script>
/* Gestión del carrusel (img ID: album) */
var currentImage = 0;
var numeroImagenes = 5;
var timer = setInterval(siguiente, 3500);

// Se añaden manejadores de eventos a los botones
document.getElementById("izquierda").addEventListener("click", function(){
    anterior();
});
document.getElementById("derecha").addEventListener("click", function(){
    siguiente();
});

function changeImage() {
	document.getElementById("album").src =
	"assets/img/carrusel/"+currentImage + ".jpg";
}

function siguiente() {
	// Tenemos X imagenes, de la 0 a la X-1
	currentImage = (currentImage + 1) % numeroImagenes;
	changeImage();
}
function anterior() {
	// Tenemos X imagenes, de la 0 a la X-1
	currentImage--;
	if (currentImage<0) {
		currentImage = numeroImagenes-1;
	}
	changeImage();
}
</script>
<div class="clearfix"></div>
       <div class="centerContent">
           <section id="content">

            <div id="articles">
            <article class="article-item article-detail">
                <div class="image-wrap">
                    <img src="assets/img/casarural.jpg" alt="example">
                </div>
                <h1 class="subheader">Articulo</h1>
                <span class="date">
                    Hace 5 minutos
                </span>
               <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt non quam non ultrices. Aenean at massa euismod, lacinia augue ut, luctus metus. Nunc enim lorem, vehicula non mauris vitae, lacinia egestas urna. Pellentesque sollicitudin volutpat diam, quis rhoncus ipsum consectetur sit amet. Ut nunc est, eleifend ac arcu non, consequat fermentum turpis. Etiam massa eros, euismod quis pharetra ut, luctus quis dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus iaculis pharetra ultricies. Mauris finibus bibendum posuere. In sapien quam, faucibus et sem in, molestie vehicula arcu. Aliquam erat volutpat. Praesent venenatis diam vel turpis volutpat, eu ullamcorper lacus pretium. Suspendisse sollicitudin, quam eu maximus dictum, leo odio semper lacus, in efficitur leo nisi et magna. Aenean efficitur fermentum dolor eu vestibulum. Vivamus lacus augue, ultrices ut tincidunt eu, semper ac arcu.

                Phasellus interdum convallis erat, ac posuere lorem commodo at. Proin venenatis fringilla tortor. Morbi posuere velit a bibendum laoreet. Nulla sit amet mauris libero. Cras venenatis ligula vel semper ornare. Aliquam porta molestie diam, et hendrerit eros maximus a. Proin viverra nisl vitae eros eleifend placerat. Sed mi dolor, facilisis sit amet mauris sit amet, ullamcorper volutpat tellus. Nullam at ligula sodales, pellentesque mi nec, iaculis purus. Maecenas quis semper augue, in rhoncus turpis. Integer eget auctor orci. Morbi vel justo nec ante rutrum vestibulum sit amet sit amet eros. Vivamus quis quam cursus, cursus justo fringilla, convallis eros.
                
                Mauris rutrum orci id lorem fringilla aliquet. Cras dapibus felis eros, aliquam facilisis nisl convallis ac. Aliquam accumsan gravida tortor non commodo. In iaculis sed lorem id lobortis. Curabitur tincidunt facilisis mattis. In tincidunt tempor justo, sit amet interdum elit commodo vel. Fusce a magna sit amet purus blandit faucibus. Maecenas magna neque, commodo in dolor at, dapibus luctus augue. Phasellus eu diam elit. Suspendisse venenatis, ipsum at mattis mattis, turpis eros mattis leo, in suscipit sem tortor a libero. Curabitur cursus justo vitae sapien pharetra maximus. Cras pharetra ac sapien ac consectetur. Vestibulum eget sollicitudin urna.
               </p>
                <div class="clearfix"></div>
            </article>
        </div>
           </section>

       </div>